@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Square+Peg&display=swap);

#content {
    max-width: 1600px;
    margin: 0% auto;
    width: auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

.navtext {
    font-size: 20px;
}

.home-title {
    color: #f2f2f2;
    font-family: square peg;
    font-size: 6em;
    margin-top: 10px;
    bottom: 100px;
    position: absolute;
    left: 40%;
    z-index: 2;
}

.logo {
    width: 125px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #D9C45B;
}

.header {
    background-color: #D9C45B;
}

nav a {
    text-align: center; 
    color: #A65E44;
    text-decoration: none;
    font-family: roboto;
    padding: 50px;
    background-color: #D9C45B;
}

nav a:hover {
    background-color: #A65E44;
    color: #f2f2f2;
}

#girlcooks {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#girlbox {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    position: relative;
}

#girl-img {
    width: 100%;
}

#girl-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-top: 0;
}

.missionstatement {
    font-size: 75px;
    color: #F2BC79;
    font-family: square peg;
    text-align: center;
}

.mainbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D9C45B;
}

.contenthome {
    font-size: 25px;
    font-family: roboto;
    grid-column: 1;
    line-height: 1.5;
    color: #f2f2f2;
    padding: 10px;
}

.pancakes {
    width: 100%;
    grid-column: 2;
}

footer {
    background-color: #D9C45B;
    padding: 25px 50px;
    padding-top: 15px;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    font-family: roboto;
}

footer h3 {
    color: #A65E44;
}

footer a {
    color: #A65E44;
    text-decoration: none;
}

footer a:hover {
    color: #f2f2f2;
}

footer h3 a:hover {
    text-decoration: underline;
}

/* page 2 content*/

.contentwhattodo {
    font-size: 25px;
    font-family: roboto;
    grid-column: 1;
    line-height: 1.5;
    color: #F2BC79;
    padding: 10px;
}

#baker {
    width: 100%;
}

.avocado {
    width: 100%;
}

#buttongrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 535px 535px;
    background-color: #D9C45B;
}

.buttonparagraph {
    font-size: 100px;
    color: #f2f2f2;
    font-family: roboto;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.button {
    font-size: 35px;
    color: #f2f2f2;
    background-color: transparent;
    font-family: roboto;
    grid-column: 1;
    grid-row: 2;
    width: 350px;
    height: 100px;
    justify-self: center;
   border: transparent;
}

.button:hover {
    background-color: #f2f2f2;
    color: #F2BC79;
}

/* page 3 content*/

.headerimage {
    width: 98%;
}

.awkwardgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}

.questions {
    font-size: 70px;
    font-family: square peg;
    color: #A65E44;
    background-color: #D9C45B;
    grid-column: 1;
    grid-row: 1; 
    justify-content: center;
    padding-left: 70px;
    padding-top: 70px;
    margin: 0%;
    border-radius: 5px;
}

.contentquestions {
    font-size: 25px;
    font-family: roboto;
    color: #F2BC79; 
    grid-column: 1;
    grid-row: 3;
}

.bakinggirl {
    width: 100%;
    grid-column: 2;
    grid-row: 1/4;
}

.titlequestions {
    grid-column: 1;
    grid-row: 2;
    margin-top: 8px;
    padding: 30px;
    border: 2px solid #D9C45B;
    background: rgba(225, 233, 225, 0.3);
    border-radius: 20px;
    font-size: 26px;
    color: #F2BC79;
    font-family: roboto; 
    line-height: 1.5;
}

.answerquestions {
    color: #F2BC79;
    font-size: 18px;
}